body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif
}
h3{
    font-size: 27px;
    font-weight: 600;
}
p{
    font-size: 14px;
    margin-bottom: 0;
}
a{
    text-decoration: none;
}
.sign-in-form{
    /* margin: 30px auto; */
    display: flex;
}
button{
    border: none;
    padding: 10px;
}
button > a{
    color: white;
}
.left-wrapper{
    background-image: url(../../assets/unsplash_Xaanw0s0pMk.png);
    flex: .2;
    position: relative;
    height: 620px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
.logo{
    margin-top: 30px;
    margin-left: 30px;
}
.logo img{
    width: 90px;
}
.left-wrapper p{
    margin-top: 30%;
    width: 270px;
    margin-left: 30px;
    color: white;
    font-size: 13px;
    line-height: 1.6;
    font-weight: 300;
    margin-right: 20px;
}
.left-wrapper .clock{
    position: absolute;
    bottom: 0;
    left: 0;
}
.clock img{
    border-bottom-left-radius: 15px;
    width: 350px;
}
.right-wrapper{
    flex: .8;
    padding-top: 30px;
    background: #F9F9F9;
    padding-right: 30px;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
}
.select-language{
    display: flex;
    align-items: center;
    text-align: right;
    float: right;
    clear: left;
}

.select-language img{
    width: 16px;
    height: 16px;
}
.select-language select{
    margin-left: 10px;
    font-size: 14px;
    border: none;
    background: transparent;
    outline: none;
}
.form-container{
    margin-top: 16%;
    margin-left: 10%;
}
.form-container form p{
    margin-bottom: 2rem;
}
.form-container form input{
    width: 100%;
    padding: 10px;
    border: 1px solid #DBDDE0;
    margin-bottom: 20px;
    font-size: 13px;
    border-radius: 5px;
    outline: none;
}
.remember-password{
    display: flex;
    align-items: center;
}
.remember-password img{
    width: 40px;
    margin-right: 20px;
}
.form-container .remember-password p{
    margin-bottom: 0;
}
.remember-password p a{
    margin-left: 30px;
    color: lightslategrey;
    text-decoration: none;
}
.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 34px;
    margin-right: 20px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 22px;
    width: 22px;
    left: 4px;
    bottom: 6px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  input:checked + .slider {
    background-color: #5D5FEF;
  }
  input:focus + .slider {
    box-shadow: 0 0 1px #5D5FEF;
  }
  input:checked + .slider:before {
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(16px);
    transform: translateX(16px);
  }
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
.toggle-icon{
    background-color: #c4c4c4;
    border-radius: 25px;
    padding: 2px 6px;
    margin-right: 10px;
}
.toggle-icon img{
    height: 15px;
    width: 15px;
}
form button{
    padding: 10px 40px;
    color: white;
    border: none;
    font-size: 14px;
    background: #5D5FEF;
    margin-top: 50px;
    border-radius: 5px;
}
.effect{
    background-color: #5D5FEF;
}
.toggle-move{
    transform: translateX(20px);
}
@media screen and (max-width: 990px) {
    .clock img{
        width: 100%;
    }
}
@media screen and (max-width: 768px) {
    .sign-in-form{
        display: block;
    }
    .left-wrapper{
        display: none;
    }
    .right-wrapper{
        padding: 20px;
        border-radius: 5px;
        padding-bottom: 9rem;
        width: 80%;
        margin: auto;
        flex: 1;
    }
    .form-container{
        margin-top: 25%;
        margin-left: 0%;
    }
    form h3{
        font-size: 18px;
    }
    form p{
        font-size: 12px;
    }
}
@media screen and (max-width: 480px){
    .right-wrapper{
        width: 94%;
        margin: auto;
    }
    .remember-password{
        display: block;
    }
    .remember-password p:last-child{
        margin-top: 1rem;
    }
    .remember-password p a{
        margin-left: 0;
    }
}