body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif
}
h3{
    font-size: 27px;
    font-weight: 600;
}
p{
    font-size: 14px;
    margin-bottom: 0;
}
a{
    text-decoration: none;
}
.sign-in-form{
    /* margin: 30px auto; */
    display: flex;
}
button{
    border: none;
    padding: 10px;
    font-size: 13px;
}
button > a{
    color: white;
}
.home{
    overflow-x: hidden;
    margin-left: 0px;
}
.mobile-tag{
    display: none;
}
.mobile-tag .ham{
    width: 30px;
}
.mobile-tag .logo-mobile{
    width: 80px;
}
.main-wrapper{
    display: flex;
    background: #F9F9F9;
    min-height : 100vh;
}
.dashboard-tags{
    flex: .15;
    background: #F6F4FF;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}
.dashboard_tags{
    display: none;
    
}
.header{
    display: none;
}
.dashboard-tags img.logo{
    width: 100px;
    margin-left: 20px;
    margin-top: 30px;
    margin-bottom: 50px;
}
.tags{
    display: flex;
    flex-direction: column;
}
.dashboard_tags .tags-item{
    margin: 10px auto;
}
.dashboard-tags .controls > div{
    justify-content: center;
}
.tags a{
    color: black;
}
.tag-item{
    display: flex;
    align-items: center;
    padding-left: 20px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 170px;
}
.current{
    background: #5D5FEF;
    color: white;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}
.tag-item img{
    margin-right: 10px;
    width: 20px;
}
.main-wrapper .controls{
    position: absolute;
    bottom: 40px;
    left: 10px;
}
.controls > div{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.controls > div img{
    width: 15px;
}
.controls > div p{
    margin-left: 10px;
    margin-right: 10px;
}
.controls .user{
    position: relative;
}
.user .toggler_wrapper{
    position: absolute;
    bottom: -70px;
    right: 20px;
    background-color: white;
    border-radius: 5px;
    cursor: pointer;   
}
.toggler_wrapper{
    display: none;
}
.edit-user p{
    font-size: 12px;
}
.user .user-detail a, .user .logout a{
    display: flex;
    align-items: center;
    padding: 5px 10px;
}
.user-detail a{
    background: #5D5FEF;
    color: white;
    text-decoration: none;
} 
.template-main{
    flex: .85;
    padding: 30px 20px;
}
.template-heading{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.template-heading h3{
    font-weight: 500;
    font-size: 24px;
}
.template-heading button{
    background: #5D5FEF;
    color: white;
    border-radius: 5px;
}
.template-heading button img{
    width: 15px;
    margin-right: 10px;
}
.template-main .templates{
    background: white;
    padding: 20px;
    border-radius: 5px;
    margin-top: 25px;
}
.templates .search-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.templates .search-input{
    display: flex;
    align-items: center;
    border: 1px solid #e2e1e1;
    padding-left: 10px;
    border-radius: 5px;
}
.templates .search-input input{
    border: none;
    padding: 4px 10px;
    width: 220px;
    outline: none;
}
.templates .search-input img{
    width: 16px;
}
.templates .sort-bar{
    display: flex;
    align-items: center;
}
.sort-bar .form-sort{
    margin-right: 40px;
}
.form-sort label{
    font-size: 14px;
    color: #aaaaaa;
}
.form-sort select{
    padding: 6px 10px;
    font-size: 13px;
    border: 1px solid #e2e1e1;
    border-radius: 5px;
    outline: none;
}
.form-sort option{
    margin-right: 10px;
}
.form-group label{
    font-size: 14px;
    color: #aaaaaa;
    margin-right: 10px;
}
.form-group img{
    width: 40px;
}
.inner-height{
    position: relative;
    height: 450px;
}
.templates-card{
    max-height: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    margin-top: 20px;
    overflow-y: auto;
    padding-right: 20px;
}
.templates-card .card{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    position: relative;
}
.card-row{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.card-row h5{
    font-size: 15px;
}
.card p{
    font-size: 13px;
}
.card-options{
    position: absolute;
    bottom: -150px;
    right: 20px;
    background: white;
    border-radius: 5px;
    width: 120px;
    z-index: 10;
    box-shadow: 0px 0px 5px 0px grey;
    padding-top: 10px;
    display: none;
}
.card-options .item{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding-left: 15px;
}
.card-options .item:hover{
    background: rgb(244, 244, 253);
    cursor: pointer;
}
.card-options .item img{
    width: 12px;
    margin-right: 10px;
}
.card-options .item p{
    color: #52575C;
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
background: #555;
}

@media only screen and (max-width: 990px){
    .templates-card{
        grid-template-columns: repeat(2, 1fr);
    }
    .templates .search-wrapper{
        display: block;
    }
    .templates .search-input{
        margin-bottom: 15px;
    }
}
@media only screen and (max-width: 596px){
    .mobile-tag{
        display: block;
        position: relative;
    }
    .header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
        margin-bottom: 20px;
    }
    .dashboard_tags{
        position: fixed;
        top: 0px;
        z-index: 10;
        height: 100vh;
        background: white;
        width: 100%;
        padding-top: 20px;
        overflow-y: hidden;
    }
    .dashboard_tags .tags{
        margin-top: 50px;
    }
    .dashboard_tags .tags img{
        margin-left: 10px;
    }
    .dashboard_tags button{
        background: #5D5FEF;
        color: white;
        border-radius: 5px;
        padding: 7px 10px;
        margin-right: 10px;
        width: 120px;
    }
    .user-detail a{
        color : black;
        background: transparent;
    }
    .edit-user img{
        margin-right: 20px;
    }
    .dashboard_tags .tags p{
        font-size: 1.2rem;
        font-weight: 600;
    }
    .dashboard-tags{
        display: none;
    }
    .dashboard_tags .tags-item{
        margin: 10px auto;
    }
    .dashboard-tags .controls > div{
        justify-content: center;
    }
    .dashboard_tags .tags .row_ button a{
        color: white!important;
    }
    .main-wrapper{
        height: 100%;
    }
    .template-main .templates{
        padding: 10px;
    }
    .template-heading h3{
        font-size: 15px;
    }
    .template-main{
        flex: 1;
        padding: 3%;
    }
    .templates-card{
        padding-right: 0;
    }
    .inner-height{
        height: 100%;
    }
}