
.item-wrap .answer-box{
    margin-top: 30px;
    margin-bottom: 50px;
    display: none;
}
.item-wrap .form-group{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}
.item-wrap input{
    border: 1px solid #DFDFFC;
    padding: 12px;
    font-size: 13px;
    width: 80%;
    border-radius: 5px;
    outline: none;
}
.item-wrap .form-group img{
    width: 30px;
}
.add-question{
    display: flex;
    align-items: center;
}
.box-1, .box-2, .box-3{
    display: none;
}
.add-question img{
    margin-right: 10px;
    width: 20px;
    object-fit: scale-down;
}
.main-container .add-question p{
    font-size: 12px;
    color : #5D5FEF;
}
.flex-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
}
.flex-wrapper img{
    width: 40px;
}
.toggle-icon, .toggle_icon_2, .toggle_icon_3, .toggle_icon_4, .toggle_icon_5, .toggle_icon_6{
    background-color: #c4c4c4;
    border-radius: 25px;
    padding: 2px 6px;
    margin-right: 10px;
    width: 40px;
}
.toggle-icon img, .toggle_icon_2 img, .toggle_icon_3 img, .toggle_icon_4 img, .toggle_icon_5 img, .toggle_icon_6 img{
    height: 15px;
    width: 15px;
}
.effect, .effect2, .effect3, .effect4, .effect5, .effect6{
    background-color: #5D5FEF;
}
.toggle-move, .toggle-move2, .toggle-move3, .toggle-move4, .toggle-move5, .toggle-move6{
    transform: translateX(10px);
}