
.item-wrap .answer-box{
    margin-top: 30px;
    margin-bottom: 50px;
    display: none;
}
.item-wrap .form-group{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}
.item-wrap input{
    border: 1px solid #DFDFFC;
    padding: 12px;
    font-size: 13px;
    width: 80%;
    border-radius: 5px;
    outline: none;
}
.item-wrap .form-group img{
    width: 30px;
}
.add-question{
    display: flex;
    align-items: center;
}
.box-1, .box-2, .box-3{
    display: none;
}
.add-question img{
    margin-right: 10px;
    width: 20px;
    object-fit: scale-down;
}
.main-container .add-question p{
    font-size: 12px;
    color : #5D5FEF;
}
.flex-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
}
.flex-wrapper img{
    width: 40px;
}
.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 22px;
    width: 22px;
    left: 4px;
    bottom: 6px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  input:checked + .slider {
    background-color: #5D5FEF;
  }
  input:focus + .slider {
    box-shadow: 0 0 1px #5D5FEF;
  }
  input:checked + .slider:before {
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(16px);
    transform: translateX(16px);
  }
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
.toggle-icon, .toggle_icon_2, .toggle_icon_3, .toggle_icon_4, .toggle_icon_5, .toggle_icon_6{
    background-color: #c4c4c4;
    border-radius: 25px;
    padding: 2px 6px;
    margin-right: 10px;
    width: 40px;
}
.toggle-icon img, .toggle_icon_2 img, .toggle_icon_3 img, .toggle_icon_4 img, .toggle_icon_5 img, .toggle_icon_6 img{
    height: 15px;
    width: 15px;
}
.effect, .effect2, .effect3, .effect4, .effect5, .effect6{
    background-color: #5D5FEF;
}
.toggle-move, .toggle-move2, .toggle-move3, .toggle-move4, .toggle-move5, .toggle-move6{
    transform: translateX(10px);
}